#header{
    background-color: white;
    padding: 20px;
    height: 50px;
}
#haderTitle{
    float: left;
    font-size: larger;
    font-weight: bold;
    margin-top: 12px;
}
#root{
    font-family: system-ui;
}
#headerLinks{
    float: right;
    margin-right: 10px;
}
body{
    margin: 0;
    background-color: #e9edf5;
    color: #666666;
}
.metaMaskCheck{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}
.padding20{
    padding: 20px;
    text-align: center;
    font-size: 30px;
}
#postContainer{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
    max-height: 1000px;
    margin: 20px;
    padding: 20px;
    flex-wrap: wrap;
}
#post{
    width: 350px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-color: #d3d6de;
    margin: 15px;
}
.centeringDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.postImg{
    width: 350px;
    border-radius: 10px;
}
.postInfo{
    margin: 10px;
}
.category{
    cursor: pointer;
}
#searchContainer{
    width: 80%;
    display: flex;
    margin-top: 50px;
}
#searchButton{
    margin-left: 30px;
    height: 50px;
    margin-top: 18px;
}
#productContainer{
    display: flex;
    width: 1000px;
    justify-content: space-evenly;
    padding: 40px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fff;
    margin-bottom: 60px;
    margin-top: 40px;
}
#imgPost{
    width: 400px;
}
#bidContainer{
    height: 400px;
    width: 450px; 
    margin-top: 40px; 
}
.goBack{
    margin: 10px;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
#bidButton{
    margin: 10px;
}
#bidHistoryTitle{
    margin-top: 20px;
    font-size: 35px;
    margin-bottom: 0;
}